.wrapper {
  padding: 0px;
}
.container-row {
  padding-right: 0px;
  padding-left: 0px;
}
.panel {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #949ba2;
  border-radius: 3px;
  margin-bottom: 20px;
  &.panel-filled {
    background-color: #ffffff;
  }
  .panel-body {
    padding: 5px 15px 15px 15px;
    background: #f2f4f2;
  }
  .row {
    flex-flow: row;
  }
  .panel-heading {
    color: #4e4e4e;
    font-weight: bolder;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    .panel-tools {
      display: block;
      float: right;
      margin-top: 0px;
      padding: 0;
      position: relative;
      a {
        margin-left: 2px;
        color: #949ba2;
        cursor: pointer;
      }
    }
  }
  .panel-inner_class label {
    color: #030303;
    font-weight: 500;
  }
}
